<% include header %>
<header>
    <h1 class="text-center">Ntalk</h1>
    <h4 class="text-center">Bad! this page not exits :(</h4>
</header>
<hr>
<p>Go Come Back <a class="btn btn-primary" href="/">home page?</a> :)</p>
<% include footer %>