<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>It Happenned something terrible on server! :(
    </h4>
</header>
<p>Look the details of error:
    <br> <%- error.message %> </p>
<hr>
<p>Go Come Back<a href="/">home page?</a> :)</p>
<% include footer %>